html,
body {
  background-color: #2c4857;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

nav {
  font-family: "Open-Sans", sans-serif;
  margin-top: 5px;
}

nav ul {
  float: right;
  margin-right: 2em;
}

nav li {
  padding: 1em;
  display: inline-block;
}

nav ul li a:hover {
  border: solid 2px;
  padding: 5px;
  text-decoration: none;
}

main {
  font-family: "Ubuntu", sans-serif;
}


footer {
  background-color: #2c4857;
  padding: 1em;
  color: white;
  text-align: center;
}



.project-tile {
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  overflow: hidden;
  margin: 10px;
  padding: 25px;
}

.project-title {
  font-family: "Ubuntu", sans-serif;
  border-top: 2px solid #9cceaf;
  margin-bottom: 10px;
}

.project-img {
  width: 500px;
  height: 500px;
  border: 2px solid #9cceaf;
}

.social-profiles {
  text-align: center;
}

.contact-details {
  display: inline-block;
  font-weight: bold;
  margin: 45px 25px 45px 5px;
  list-style-type: none;
  border: 2px solid #a1de78;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  background-color: #9cceaf;
  text-decoration: none;
  text-align: center;
  text-shadow: 2px 2px 2px #000;
}

.contact-details a {
  color: #2c4857;
}

.contact-details:hover {
  color: #fff;
  background-color: #a1de78;
  border: 2px solid #9cceaf;
}

.contact-details:visited {
  color: #fff;
}

.nav-link {
  font-family: inherit;
}

.intro {
  color: white;
  padding-right: 2em;
  padding-left: 2em;
  background-color: #9cceaf;
  height: 100vh;
  width: auto;
}

#navbar {
  position: fixed;
  background-color: #2c4857;
  color: #a1de78;
  font-family: "Open-Sans", sans-serif;
  font-weight: 600;
  width: 100%;
  margin-top: 0;
}

#projects {
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  margin-top: 25px;
}

#projects h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

#welcome-section h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 2.5em;
  font-weight: 600;
  color: #2c4857;
  text-align: center;
  padding-top: 6em;
}

#welcome-section h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.25em;
  font-weight: 100;
  color: #2c4857;
  text-align: center;
}

@media (max-width: 550px) {
  p {
    text-align: left;
  }

  nav ul {
    margin: 0;
    padding-bottom: 10px;
  }

  nav li {
    display: inline;
  }

  nav ul li a:hover {
    border: none;
  }

  .intro {
    background-color: #9cceaf;
    color: white;
    height: 100vh;
  }

  .contact-details {
    display: block;
    font-weight: bold;
    margin: auto;
    list-style-type: none;
    border: 2px solid #a1de78;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    line-height: 80px;
    background-color: #9cceaf;
    text-decoration: none;
    text-align: center;
  }

  #welcome-section h1 {
    font-family: "Open Sans",sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    padding-top: 220px;
    text-align: center;
  }

  #welcome-section h2 {
    font-family: "Ubuntu", sans-serif;
    font-size: 1.25em;
    font-weight: 100;
    text-align: center;
  }

  #navbar {
    height: 33px;
    line-height: 33px;
  }
}
